body {
    background-color: #ffffff;
}

h1 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.screen {
  float: left;
}
.shop {
  float: left;
}
.clearfix{
    clear:both
}
.click {
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAFE0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.click:hover {background-color: #3e8ee1}
.click:active {
  background-color: #3e8ee1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.upgrade {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.upgrade:hover {background-color: #3e8e41}
.upgrade:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.multi {
  padding: 10px 15px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #BC3F50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.multi:hover {background-color: #3e8e41}
.multi:active {
  background-color: #AC2F30;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
