@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    font-family: 'MedievalSharp', cursive;
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
}

/* Z-Index Overview
    0: Base
    1: UI
    2: Cards
    3: Dragged Cards
*/

/* Overlay */
h1 {
    position: absolute;
    top: 0px;
    color: black;
    z-index: 1;
    text-align: center;
    width: 100vw;
    opacity: 1.0;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

/* Cards */
.card{
    position: absolute;
    background-color: rgb(255, 253, 250);
    border: 2px solid rgb(30,10,10);
    border-radius: 6px;
    z-index: 2;
    top: 0px;
    left: 0px;
    transition: transform 0.4s, filter 0.5s;
    transform: translate(50vw,120vh);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.662));
    user-select: none;
}

.card.drag{
    transition: 0.1s;
    z-index: 3;
    bottom: auto;
    filter: drop-shadow(13px 13px 10px rgba(0, 0, 0, 0.662));
    pointer-events: none;
}

.card:hover{
    cursor: pointer;
}


/* Main Board */
.global-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    box-shadow: inset 0 0 50px rgb(41, 22, 0);
    background: repeat top/40% url("assets/paper_texture.jpg");
    filter: saturate(0.6) contrast(0.9) brightness(1.12);
    display: flex;
    align-items: center;
}

.playing-area{
    width: 21vw;
    height: 60vh;
    margin: 20vh 2vw;
}

.card-slot{
    width: 120px;
    height: 200px;
    border: 1px dashed black;
    border-radius: 5px;
    text-align: center;
    padding-top: 80px;
    opacity: 0.4;
    margin: 10vh auto;
}

.divider{
    width:.2vw;
    height: 70vh;
    background-color: rgba(0.1, 0.1, 0.1, 0.15);
}

/*Info*/
.info-area{
    width: 75vw;
    height: 100vh;
    padding: 15vh 5vw;
}

.info {
    transition: 1.0s;
    position: absolute;
    opacity: 1.0;
}


/* Global Attributes */
.info.hidden {
    opacity: 0.0;
    pointer-events: none;
}
