@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    font-family: 'MedievalSharp', cursive;
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
    transform-style: preserve-3d;
    filter: blur(0.0px);
    background-image: url("assets/wood-background.jpg");
    background-size: 70%;
}

.global-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    box-shadow: inset 0 0 50px rgb(41, 22, 0);
    display: flex;
    align-items: center;
    background: repeat top/40% url("assets/paper_texture.jpg");
    filter: saturate(0.5) contrast(0.9) brightness(1.12);
}
.global-container2{
    filter: saturate(0.6) contrast(0.9) brightness(1.12) drop-shadow(4px 4px 20px rgba(0,0,0,.9));
    background: none;
    transform: scale(0.9) rotate(2deg);
}

.global-container > .background {
    display: none;
}

.global-container2 > .background {
    position: absolute;
    width: 104vw;
    height: 110vh;
    left:-2vw;
    top: -5vh;
    display: block;
}

/* Z-Index Overview
0: Base
1: UI
2: Cards
3: Active Card
4: Dragged Card
*/

/* Overlay */
h1 {
    position: absolute;
    top: 0px;
    z-index: 1;
    text-align: center;
    width: 100vw;
    opacity: 0.8;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4)) blur(0.5px);
}

.footer {
    font: 12px sans-serif;
    position: absolute;
    bottom: 8px;
    right: 30px;
    opacity: 0.5;
}

.corner {
    position: absolute;
    margin: 30px;
    opacity: 0.63;
    width: 22vh;
    height: 22vh;
    filter: blur(0.8px);
}

.corner.top-left{
    top: 0;
    left: 15px;
}

.corner.top-right{
    top:0;
    right: 0;
    transform: rotate(90deg);
}

.corner.bottom-right{
    bottom:0;
    right: 0;
    transform: rotate(180deg);
}

.corner.bottom-left{
    bottom:0;
    left: 15px;
    transform: rotate(-90deg);
}

/* Cards */
.card{
    position: absolute;
    border-radius: 6px;
    z-index: 2;
    top: 0px;
    left: 0px;
    transition: transform 0.5s, filter 0.5s;
    transform: translate(40vw,150vh);
    filter: sepia(0.8) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.662));
    user-select: none;
    background-size: 104%;
}


.card.drag{
    transition: 0.1s;
    z-index: 4;
    bottom: auto;
    filter: sepia(0.5) drop-shadow(13px 13px 10px rgba(0, 0, 0, 0.662));
    pointer-events: none;
}

.card.active{
    z-index: 3;
}

.card:hover{
    cursor: pointer;
}


/* Main Board */


.playing-area{
    width: 21vw;
    height: 60vh;
    margin: 20vh 2vw;
    margin-left: 4vw;
}

.card-slot{
    width: 120px;
    height: 200px;
    border: 1px dashed black;
    border-radius: 5px;
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    transform: scale(1.1);
}

.divider{
    width:3vw;
    height: 70vh;
    opacity: 0.63;
    filter: blur(0.8px);
}

/*Info*/
.info-area{
    width: 70vw;
    height: 100vh;
    padding: 15vh 5vw;
    padding-right: 10vw;
}

.info {
    transition: 1.0s, opacity 0.5s;
    position: absolute;
    opacity: 1.0;
    width: 55vw;
}

a {
    position: absolute;
    width:65vw;
    height: 70vh;
    z-index: 3;
}

iframe {
    /* Will end up being 65vw 70vh*/
    width: 100vw;
    height: 107.6923vh;
    border: 2px black solid;
    border-radius: 20px;
    transform: scale(0.65);
    transform-origin: 0.0 0.0;
}

p {
    font-size: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Global Attributes */
.info.hidden {
    opacity: 0.0;
    pointer-events: none;
}