@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
    transform-style: preserve-3d;
    filter: blur(0.0px);
}

.global-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    box-shadow: inset 0 0 20px 8px rgb(41, 22, 0);
    display: flex;
    align-items: center;
    background: repeat top/40% url("assets/paper_texture.jpg");
    filter: saturate(0.8) contrast(0.9) brightness(1.06);
}

.global-container > * {
    transition: opacity 1.6s;
}

.global-container.start > .playing-area {
    opacity: 0;
}


.global-container.start > .divider {
    opacity: 0;
}

.global-container.start > .info-area {
    opacity: 0;
}

.global-container.start > .corner {
    opacity: 0.0;
}



.global-container > .background {
    display: none;
}


/* Z-Index Overview
0: Base
1: UI
2: Cards
3: Active Card
4: Dragged Card
*/

/* Overlay */
.title {
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-left: 40vw;
    margin-top: 3vh;
    width: 20vw;
    mix-blend-mode: multiply;
}


.footer {
    font: 12px sans-serif;
    position: absolute;
    bottom: 8px;
    right: 30px;
    opacity: 0.5;
}

.corner {
    position: absolute;
    margin: 30px;
    opacity: 0.63;
    width: 22vh;
    height: 22vh;
    filter: blur(0.8px);
    mix-blend-mode: multiply;
}

.corner.top-left{
    top: 0;
    left: 15px;
}

.corner.top-right{
    top:0;
    right: 0;
    transform: rotate(90deg);
}

.corner.bottom-right{
    bottom:0;
    right: 0;
    transform: rotate(180deg);
}

.corner.bottom-left{
    bottom:0;
    left: 15px;
    transform: rotate(-90deg);
}

/* Cards */

.card-container{
    position: absolute;
    top: 0px;
    left: 0px;
    filter: sepia(0.3) drop-shadow(0px 0px 5px rgba(0,0,0, 0.8));
    transition: 2.0s;
    z-index: 1;
}

.card-container.down > .card{
    transform: rotateY(180deg);
}

.card-container.hand{
    transition: 0.6s;
    user-select: none;
    filter: sepia(0.3) drop-shadow(5px 5px 7px rgba(0,0,0, 0.6));
    z-index: 2;
}

.card-container.drag{
    transition: 0.1s ease-out;
    filter: sepia(0.3) drop-shadow(13px 13px 16px rgba(0,0,0, 0.6));
    z-index: 4;
    pointer-events: none;
}

.card-container.active{
    z-index: 3;
}

.card-container:hover{
    cursor: pointer;
}

#cardTemplate {
    display: none;
}

.card{
    transition: 0.5s;
    transform-style: preserve-3d;
}
/* 
.card-container.drag > .card {
    transform: rotateY(180deg);
} */

.card::before{
    content: "";
    border-radius: 12px;
    background: var(--image-url);
    display: block;
    filter: sepia(0.3);
    height: 300px;
    width: 180px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: inset 0 0 4px 2px rgb(41, 22, 0);
}

.card::after{
    content: "";
    border-radius: 13px;
    background: center/100% url("./assets/cards/card_backing.png");
    display: block;
    margin-top: -300px;
    height: 300px;
    width: 180px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: inset 0 0 3px 1px rgb(41, 22, 0);
}

/* Main Board */
.playing-area{
    width: 21vw;
    height: 60vh;
    margin: 20vh 2vw;
    margin-left: 4vw;
}

.card-slot{
    width: 1vw;
    text-align: center;
    margin: 5vh 3vw;
    mix-blend-mode: multiply;
}

.divider{
    width:3vw;
    height: 70vh;
    opacity: 0.63;
    filter: blur(0.8px);
}


/*Info*/
.info-area{
    width: 70vw;
    height: 100vh;
    padding: 15vh 5vw;
    padding-right: 10vw;
    font-family: 'Kaisei Tokumin', serif;
}

.info {
    transition: 1.0s, opacity 0.5s;
    position: absolute;
    opacity: 1.0;
    width: 55vw;
}

a {
    position: absolute;
    width:65vw;
    height: 70vh;
    z-index: 3;
}

iframe {
    /* Will end up being 65vw 70vh*/
    width: 90vw;
    height: 107.6923vh;
    border: 2px black solid;
    border-radius: 20px;
    transform: scale(0.65);
    transform-origin: 0.0 0.0;
}

p {
    font-size: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/*About Me Page*/
.about {
    width: 55vw;
    height: 70vh;
}

.aboutImage1 {
    position: absolute;
    mix-blend-mode: multiply;
    top:0px;
    right:25vw;
    width:25vw;
}

.aboutImage2 {
    position: absolute;
    mix-blend-mode: multiply;
    bottom: 0px;
    left: 0px;
    width:15vw;
}



.aboutText {
    position: absolute;
    right: 0px;
    font-size: 16px;
    text-align: right;
    width: 21vw;
}

/* Global Attributes */
.hidden {
    opacity: 0.0;
    pointer-events: none;
    z-index: -2;
}

.sound {
    display: none;
}